* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
}

a:hover {
    color: pink !important;
    text-decoration: none !important;
}

.navbar, .hero {
    background: #343a40;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-item {
    font-size: 16px;
    font-weight: 500;
    flex-direction: row;
    max-width: 400px;
}

.contact-title {
    width: 100%;
    float: left;
    font-size: 40px;
    font-weight: bold;
    color: deeppink;
    text-align: center;
}

.contact-title span {
    color: #292929;
    border-bottom: 5px solid #363636;
}

.mail-section {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    float: center;
    margin: 0 auto;
}

.mail-section  input {
    padding: 11px;
    max-width: 100%;
    border: 1px solid #343a40;
}