* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}
 
.header {
    border-radius: 20%;
    display: flex;
    justify-self: center;
    margin-top: 15px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:10px 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5); /* Transparent white */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Blur */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);

} 

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.1s ease;
}

.nav-item a:hover {
    border-bottom: 2px solid deeppink;
    color: #fff;  
}

/*menu icon */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin: 15px 15px 10px auto;
    z-index: 1000; /* Ensure the menu icon is above other elements */
    position: relative;
    top: 0; 
}

.menu-icon span {
    display: block;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

body {
    color: #fff;
    font-size: 14px;
    line-height: 1.80857;
    overflow-x: hidden;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

body video {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} 

/* scroll button section */ 
#scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  padding: 12px 16px;
  border-radius: 50%;
  cursor: pointer;
  display: none; /* Hidden by default */
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  transition: 0.3s ease;
}

#scrollToTopBtn:hover {
  background-color: #555;
}

a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
}

 /* ----All Parts-------------------------------------------------------------- */
/* Heading section */
.heading {
    width: 100%;
    float: left;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    color: gold;
    text-align: center;
    margin: 10px 10px;
}

.heading span {
    color: white;
    border-bottom: 2px solid gold;
}

.portion {
    padding: 100px 0 100px 0;
}

img {
    width: 400px;
    height: 100%;
    border-radius: 10px;
}

.glass-box {
      background: rgba(255, 255, 255, 0.1); /* Transparent white */
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px); /* Blur */
      -webkit-backdrop-filter: blur(10px); /* Safari */
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: white;
      text-align: center;
      overflow: hidden;
}


/* ---------------------------------------------------------------------------------- */
 /* Hero section */

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px 0 40px;;
    margin: 0;
}

.hero-intro { 
    margin: 0;
    text-align: start; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: #fff;
    position: relative;
    z-index: 1; /* Ensure the intro is above the video */
    overflow: hidden; /* Prevents overflow of content */
    max-width: 1200px; /* Limit the width for larger screens */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}  

.hero-intro p {
    padding-right: 40px;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    
}

.hero-img {
    padding-bottom: 0px;
}

/* ------------------------------------------------------------------ */
/*  services section */

#services {
    background-image: url("Images/service-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    padding: 90px 0 50px 0;
    box-sizing: border-box;
    background-position: center;
    height: 130vh;
    right: 0;
    left: 0; 
}

.services-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 100px;
    gap: 30px;
}

.service-item {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 120px 50px 120px 50px;
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.service-item span {
    position: absolute;
    padding: 50px;
    font-weight: bold;  
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    transition: opacity 0.1s ease;
}

.default-text {
    opacity: 1;
    font-size: 18px;
}

.hover-text {
    opacity: 0;
}

/* Change text on hover */
.service-item:hover .default-text {
    opacity: 0;
}

.service-item:hover .hover-text {
    opacity: 1;
    font-size: 14px;
}

.service-item:hover{
    color: gold;
    border-color: gold;
    box-shadow: 0 0 10px gold;
    transition: all 0.3s ease;
    animation: tilt-shaking 0.25s ease-in-out;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}


/* --------------------------------------------------------------------- */
/* Portfolio section */ 

.portfolio {
    background: radial-gradient(circle at center, #2b0a44, #000000 80%);
    height: 125vh;
    padding: 50px 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; /* Prevents overflow of content */
}

.portfolio-cards {
    display: flex;
    gap: 30px;
    padding: 40px;
    justify-content: center; 
    flex-wrap: wrap;
}

.portfolio-card {
    width: 250px;
    height: 250px;
    color: #fff; 
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.1);
    transition: 0.3s ease;
    backdrop-filter: blur(12px);
    position: relative;
}

.portfolio-card:hover {
    transform: translateY(-10px);
    border-color: deeppink;
    box-shadow: 0 0 10px deeppink;
    transition: all 0.3s ease;  
    background: linear-gradient(135deg, rgba(255, 20, 147, 0.1), rgba(255, 182, 193, 0.08));
}

/* ---------------------------------------------------------------------- */ 

/* Form section */
.contact-section {
    height: 100vh; /* Full viewport height */
    padding: 20px; /* Add padding for spacing */
    flex-wrap: wrap;
}


.contact-form {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mail-section {
    width: 60%;
    margin: 0 auto; /* center the form */ 
    text-align: center;
}

.mail-section  input,
.mail-section textarea {
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    width: 100%;    /* make inputs take full width of the container */
    max-width: 600px;     /* set a max width for lorger screens */
    box-sizing: border-box;    
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.1); /* Transparent white */
    backdrop-filter: blur(10px); /* Blur */
    -webkit-backdrop-filter: blur(20px); /* Safari */
}

.mail-section  input:focus, textarea:focus {
    border: 1px solid deeppink;
    outline: none;
    box-shadow: 0 0 10px deeppink;
    transform: scale(1.1);
    transition: all ease;
}

.mail-section input[type="submit"] {
    background-color: #343a40;
    color: #fff;
    border: none;
    width: 100%; /* make button take full width of the container */
    max-width: 200px; 
    margin: 10px auto;   /* center the button */  
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.mail-section input[type="submit"]:hover {
    background-color: gold;
    color: #000;
    box-shadow: 0 0 10px gold;
    transition: all ease;
}

.mail-section textarea {
    resize: none; /* Disable resizing of the textarea */
    height: 120px; /* Set a fixed height for the textarea */
    margin-bottom: 10px; /* Add some space below the textarea */
}


/* ---------------------------------------------------------------- */

/* Footer section */
.footer {
    background-image: url("Images/Footer.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.footer-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 0;
}

.footer-1, .footer-2, .footer-3 {
    width: 350px;
    height: 400px;
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1); /* Transparent white */
    backdrop-filter: blur(10px); /* Blur */
    -webkit-backdrop-filter: blur(10px); /* Safari */   
}


/* About us Page */ 
.about, .service-page, .portfolio-page {
    height: 100vh;
    margin: 50px;
    padding: 20px;
    box-sizing: border-box;
}


/* responsive view */
@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .navbar {
        display: none; /* Hide navbar by default */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        padding-bottom: 20px;
    }

    .navbar.active {
        display: flex; /* Show navbar when active */
    }

    .nav-item {
        text-align: center;
        padding: 10px 0;
    }

    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .nav-item a {
        font-size: 16px;
    }


    /* Hero section */
    .hero-img {
        display: none; /* Hide hero image on smaller screens */
    }
    .hero-intro {
        padding: 20px; /* Adjust padding for smaller screens */
        text-align: center; /* Center text on smaller screens */
    }
    .hero-intro p {
        font-size: 18px; /* Adjust font size for smaller screens */
        padding-right: 0; /* Remove right padding */
    }
    /* Services and Portfolio sections */
    .services {
        height: auto; /* Allow height to adjust based on content */
        padding: 50px 20px; /* Adjust padding for smaller screens */
    }
    .portfolio {
        height: auto; /* Allow height to adjust based on content */
        padding: 50px 20px; /* Adjust padding for smaller screens */
    }
    .services-list, .portfolio-cards {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
        padding: 20px; /* Adjust padding for smaller screens */
    }
    .service-item, .portfolio-card {
        margin-bottom: 20px; /* Add space between items */
    }
    .service-item img, .portfolio-card img {
        background-repeat: no-repeat;
    }

    .services-list {
        flex-direction: row;
        align-items: center;
    }

    .portfolio-list {
        flex-direction: row;
        align-items: center;
    }

    .mail-section {
        width: 90%; /* Reduce width for smaller screens */
    }

    .mail-section input, textarea {
        padding: 15px; /* Adjust padding for smaller screens */
        max-width: 100%; /* Remove max-width constraint */
    }
}

/* Mobile styles */
@media (max-width: 480px) {
    .mail-section input, textarea {
        padding: 10px; /* Further adjust padding for very small screens */
    }
}










